<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="headline">
      <div class="col-md-12">
          <h3>Latest Mars News</h3>
        <h4 class="heading">{{mars.headline}}</h4>
        <small>{{mars.news}}</small>
      </div>
  </div>

  <div class="row" id="fimage">
    <div class="col-md-12">
        <h3>Featured Mars Image</h3>
      <img src="{{mars.featured}}"/>
    </div>
</div>

<div class="row" id="fimage">
  <div class="col-md-12">
      <h3>Mars Facts</h3>
    {{mars.table}}
  </div>
</div>

<div class="row" id="himage">
  <div class="col-md-12">
      <h3>Mars Hemispheres</h3>
    <div>
      <a href="{{mars.hiu[0].img_url}}"><img src="{{mars.hiu[0].tmb_url}}"/></a>
      <div>
      {{mars.hiu[0].title}}
      </div>
    </div>
    <div>
      <a href="{{mars.hiu[1].img_url}}"><img src="{{mars.hiu[1].tmb_url}}"/></a>
      <div>
      {{mars.hiu[1].title}}
      </div>
    </div>
    <div>
      <a href="{{mars.hiu[2].img_url}}"><img src="{{mars.hiu[2].tmb_url}}"/></a>
      <div>
      {{mars.hiu[2].title}}
      </div>
    </div>
    <div>
      <a href="{{mars.hiu[3].img_url}}"><img src="{{mars.hiu[3].tmb_url}}"/></a>
      <div>
      {{mars.hiu[3].title}}
      </div>
    </div>

  </div>
</div>

  </div>
</body>

</html>

